# Shopify store URL 
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN="<YOUR-STORE-DOMAIN>"

# The Public Storefront API Access Token
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN="<YOUR-ACCESS-TOKEN>"

NEXT_PRIVATE_SHOPIFY_STOREFRONT_ACCESS_TOKEN="<YOUR-PRIVATE-TOKEN>"

NEXT_CUSTOMER_CLIENT_ID="<YOUR-CUSTOMER-CLIENT-ID>"

# The API Version to use for Shopify Storefront API requests
NEXT_PUBLIC_SHOPIFY_API_VERSION="2026-01"

#Customer accounts api
NEXT_PUBLIC_SHOPIFY_CUSTOMER_ACCOUNT_CLIENT_ID="<YOUR-CLIENT-ID>"
NEXT_PUBLIC_SHOPIFY_CUSTOMER_ACCOUNT_URL="https://shopify.com/<YOUR-STORE-ID>/account"

# App access token
NEXT_APP_ACCESS_TOKEN="<YOUR-APP-ACCESS-TOKEN>"